@{
    ViewBag.Title = "About";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>*@

<h3>  <img src="~/Images/image1home.jpg" style="width:60px" /> ABOUT i<em>BOARD</em></h3>
<br />
<p>
    <b> i<em>Board</em></b> is a software tool with the objective to <b> fully automate </b>  Schools' (Nursery, Primary and Secondary) business processes. The core models of the software include:
   <br />
    <br />
    <h3>STUDENTS</h3>
     1) <b>Students Registration</b>:- Registration and managment of students data
    <br />
    <br />
  
    2) <b>Students Attendance</b>:- Day to day tracking and marking of students attendance which can be viewed by teachers, students and thier parents
    <br />
    <br />
    3) <b>Students Examination Record</b>:- Management of students academic records by teachers
    <br />
    <br />
    4) <b>Online Examination</b>:- Creation of online examinations/tests for students by teachers. This capability allows students take exams online and marked automatically
    <br />
    <br />
    5) <b>Report Sheet Generation</b>:- Automatic generation of report sheets in PDF formart which can be customised to fit school specifications
    <br />
    <br />
    6) <b>Assignment Blog</b>:- Creation of assignments by teachers 
    <br />
    <br />
        

    <h3>PARENTS</h3>
    1) <b>Parent Registration</b>:- Registration and managment of parents data
    <br />
    <br />

    2) <b>Students Monitoring by Parents</b>:- Parents view of thier wards attendance record as well as academic performances
    <br />
    <br />
    3) <b>Fees Record Tracking</b>:- Parents view of thier wards schools fees payment record
    <br />
    <br />
    4) <b>Bought Items Tracking</b>:- Parents  view of thier wards bought items in school. E.g Texbooks or school bags bought
    <br />
    <br />
    5) <b>Notice</b>:- Communication between school and parents via our SMS platform. This can be used for PTA reminders 
    <br />
    <br />


      <h3>STAFF</h3>
    1) <b>Staff Registration</b>:- Registration and managment of teachers data
    <br />
    <br />

    2)<b>Staff Attendance</b>:-  Marking  of staff attendance by principals or senior staff members and also, Staff view of thier attendance records.
    <br />
    <br />
    

    <h3>TIME TABLE</h3>
    1) <b>Time Table Creation</b>:- The software tool also supports the creation of class timetables in an intuitive manner.
    <br />
    <br />

    <h3>STORE</h3>
    1) <b>Store Managment</b>:- The software tool  supports a mini-ecormmerce activities where students can purchase school items such as exercise books, pencils ans other stationaries.
    <br />
    <br />
    <h3>FEE </h3>
    1) <b>Fee Managment</b>:- The software provides the capability of school fees creation and management.
    <br />
    <br />
    <h3>SECURITY </h3>
    1) <b>Security Managment</b>:- The software supports audit trails and role managment
    <br />
    <br />

    2) <b>Audit Trail</b> :- The Software tools keeps track of activities of staff members
    <br />
    <br />
  
</p>
@*<b><h3>AIMS AND OBJECTIVES</h3></b>
<br />
<article>
    @*<p>
        Use this area to provide additional information.
    </p>

    <p>
        The aims and objectives of the school are to provide an all round-education that meets with international standards and exposes the children to a wide range of opportunities and talents to the fullest. Since its inception, the school has maintained an enviable position and credibility as one of the highly recognized and standard schools in Lagos state and the country at large. In order to relieve working mothers of the burden of having to go in search of a safe and conducive centre for their babies, the school has a crèche that caters for babies within the range of 3months to 2years. They are given such loving care and protection that make them really feel at home away from their homes.
    </p>
  <h3> ABOUT US</h3> 
    <p>
        Learning for Life Schools was founded in 1997 with 8 teachers and a few students. The School is situated Amuwo Odofin, Lagos. It is an approved school by the government and has both Day and Boarding facilities. The Learningfield Secondary School operates on the Federal Curriculum, National Examination Council (NECO), West African Examination Council (WAEC) and the International General Certificate Secondary Examination (IGCSE) syllabuses. The school has imparted in the students who passed out form the school and those still schooling will testify because of our future stars produced and in the making. We expose our children to a wide range of opportunities and talents and instill in them the fear of God, Morals and Ethical values. We provide an all round education that meets international standards that will build a generation with creative ingenuity to build the nation
    </p>
</article>*@

