@{
    ViewBag.Title = "School Management";
}
<style type="text/css">

     /*#ta {
            
          
        }*/

</style>

<div class="hero-unit">
    <hgroup class="title">
        @*  <div class="span3"></div>
        <div class="span6">
              <img style="text-align:center" src="~/Images/emplace international (1).jpg" />
         </div>
         <div class="span3"></div>*@

        <h3 style="text-align: center; font-style: oblique"><b style="color: white">i<em>BOARD</em> SCHOOL MANAGEMENT SYSTEM</b></h3>

    </hgroup>

    <div class="row-fluid">
        <br />
        @*<div class="span12">
    <b style="text-align:center; font-style:italic">VIRTUAL<em>BOARD</em> SCHOOL MANAGEMENT SOFTWARE</b>*@
        @*<h3 style="text-align:center; font-style:oblique"><b style="color:white">i<em>BOARD</em> SCHOOL MANAGEMENT SOFTWARE</b></h3>*@
        @*<br />
    <br />
    </div>*@
        @*<div class="span2">

                <img src="~/Images/learningforLife.jpg" width="120" height="120" />
                <br />
                @*<b style="text-align:center; font-style:italic">LEARNING FOR LIFE SCHOOLS</b>
              
            </div>*@
        @*<div class="span8" style="height:400px">*@
        @*<div id="imager" class="span11" style="height:350px; align-items:cente
        r">*@


        <div id="imager" class="span11" style="height: 380px; align-items: center">
            <img src="/Images/n1.jpg" alt="" />
            <img src="/Images/n2.jpg" alt="" />
            <img src="/Images/n3.jpg" alt="" />
            <img src="/Images/n4.jpg" alt="" />
            <img src="/Images/n5.jpg" alt="" />
            <img src="/Images/n6.jpeg" alt="" />
            @*   <img src="/Images/n6.jpeg" alt="" />*@
            <img src="/Images/n8.jpeg" alt="" />
            <img src="/Images/n9.jpg" alt="" />
            <img src="/Images/n10.jpg" alt="" />
            <img src="/Images/n11.jpg" alt="" />
            <img src="/Images/n12.jpg" alt="" />
            <img src="/Images/n13.jpg" alt="" />
            <img src="/Images/n14.jpg" alt="" />
            @*  <img src="/Images/n15.jpg" alt="" />*@
            <img src="/Images/n16.jpg" alt="" />
        </div>
        @*</div>*@
    </div>


    @*To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
            http://asp.net/mvc</a>. The page features
        <mark>videos, tutorials,
                        and samples</mark>
        to help you get the most from ASP.NET MVC. If you have any questions about ASP.NET
        MVC visit <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">
            our forums</a>.*@


    @* <p>
        <a class="btn btn-primary btn-large" href="#" id="deviceWidth">Show 'device-width'</a></p>*@
</div>
@*<h3>Perazim Empowerment Network</h3>*@

@*@section featured {
    
}*@
<div class="container-fluid">
        <p class="lead" style="text-align: center; font-size:30px; font-family:'Monotype Corsiva'"><b style="color:blue">Our Key Strength Lies in AUTOMATING Schools' Business Processes!</b></p>
    <div class="row-fluid">
        <div class="span3">
            <a class="thumbnail">

                <img src="~/Images/download%20(2).jpg"  style="height:150px"/>
            </a>
            <h4>Professionalism</h4>
            <p></p>
        </div>
        <div class="span3">
            <a class="thumbnail">
                <img src="~/Images/download%20(21).jpg"style="height:150px"/ />

            </a>
            <h4>Unification</h4>
            
        </div>
        <div class="span3">
            <a class="thumbnail">
                <img src="~/Images/download%20(27).jpg"style="height:150px"/ />

            </a>
             <h4>Discovery</h4>
           
        </div>

        <div class="span3">
            <a class="thumbnail">
                <img src="~/Images/download%20(40).jpg"  style="height:150px"//>

            </a>
            <h4>Learning</h4>
           
        </div>
        @*<div class="span3">
            <a class="thumbnail">

                <img src="~/Images/download%20(41).jpg" />
            </a>
            <h4>Justified nav</h4>
            <p>Marketing page with equal-width navigation links in a modified navbar.</p>
        </div>
        <div class="span3">
            <a class="thumbnail">

                <img src="~/Images/download%20(42).jpg" />
            </a>
            <h4>Sign in</h4>
            <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
        </div>

        <div class="span3">
            <a class="thumbnail" href="http://twitter.github.io/bootstrap/examples/sticky-footer.html" target="_blank">
                <img src="~/Images/download.jpg" />
            </a>
            <h4>Sticky footer</h4>
            <p>Pin a fixed-height footer to the bottom of the user's viewport.</p>
        </div>
        <div class="span3">
            <a class="thumbnail" href="http://twitter.github.io/bootstrap/examples/carousel.html" target="_blank">

                <img src="~/Images/image1home.jpg" />
            </a>
            <h4>Carousel jumbotron</h4>
            <p>A more interactive riff on the basic marketing site featuring a prominent carousel.</p>
        </div>*@
    </div>
</div>
@section Scripts{
    @* <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery.slides.min.js"></script>
    @*<script src="~/Scripts/jquery.cycle.all.js"></script>*@
    <script type="text/javascript">
        $(function () {

            $(function () {
                $("#imager").slidesjs({
                    play: {
                        active: false,
                        // [boolean] Generate the play and stop buttons.
                        // You cannot use your own buttons. Sorry.
                        effect: "slide",
                        // [string] Can be either "slide" or "fade".
                        interval: 5000,
                        // [number] Time spent on each slide in milliseconds.
                        auto: true,
                        // [boolean] Start playing the slideshow on load.
                        swap: true,
                        // [boolean] show/hide stop and play buttons
                        pauseOnHover: false,
                        // [boolean] pause a playing slideshow on hover
                        restartDelay: 2500
                        // [number] restart delay on inactive slideshow
                    }
                });
            });
            //jQuery('#imager').cycle({ fx: 'fade', timeout: 5000, speed: 1000 });
            //$("#imager").backstretch([
            //    "/Images/image1home.jpg",
            //     "/Images/studystudents.jpg",
            //      "/Images/image3home.jpg",
            //       "/Images/image4home.jpg",
            //        "/Images/images (11).jpg",
            //        "/Images/image5home.jpg",
            //], { duration: 5000, fade: 3000 });




        });
    </script>
}
