@model SchoolManagement.Model.Question


<fieldset>
    <legend><b> <text>Question </text> @Model.FakeNumber [Mark Assigned =@Model.Point] </b></legend>
<div class="question">
   @Html.Hidden("Exam.Questions[" +((Model.OrderNumber)-1) + "].QuestionID", Model.QuestionID)
    
   @* GetImage(int QuestionID, int OnlineExamID)*@

    @if( Model.HasImage == true)

    {
     <p>
        <img src="@Url.Action("GetImage", "Question", new { QuestionID = Model.QuestionID, OnlineExamID = Model.OnlineExamID })"  width="500" height="400" />
    </p>
    }
    <br />
    @Model.Text
  
    <br />

        @foreach (var choice in Model.Choices)
    {

        Html.RenderPartial("__choice", choice); <br />


      
    }
</div>
</fieldset>

